PORT=""
FRONTEND_URL=""
FRONTEND_URL_PROD=""
BACKEND_URL=""
BACKEND_URL_PROD=""
MONGO_URL=""
JWT_SECRET=""
AUTH_EMAIL=""
AUTH_PASS=""
JWT_EXPIRE=""
JWT_SECRET_KEY=""

SMTP_HOST=""
SMTP_PORT=""
SMTP_SERVICE=""
SMTP_MAIL=""
SMTP_PASSWORD=""

ACTIVATION_SECRET=""
STRIPE_SECRET_KEY=""
STRIPE_API_KEY=""
